---
layout: default
title: Beranda
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">

    <span class="post-date">{{ post.date | date_to_string }}
    
    {% if post.last_modified_at %}
      &#9656; {{ post.last_modified_at | date_to_string }}
    {% endif %}

    {% if post.author %}
      &middot; {{ post.author }}
    {% endif %}

    <br>

    &#177;{{ post.content | number_of_words | divided_by: 195.0 | round }} menit waktu baca

    </span>

    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title | markdownify | remove:'<p>' | remove:'</p>' }}
      </a>
    </h1>

    {% if post.description %}
        {{ post.description }}
    {% else %}
        {{ post.content | strip_html | truncatewords: 25 }}
    {% endif %}

  </div>
  {% endfor %}
</div>{{ post.content | strip_html | truncatewords: 25 }}

<!--
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/hlm{{paginator.next_page}}">Lebih Lama</a>
  {% else %}
    <span class="pagination-item older">Lebih Lama</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Lebih Baru</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/hlm{{paginator.previous_page}}">Lebih Baru</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Lebih Baru</span>
  {% endif %}
</div>
-->

<hr>
<div style="text-align:center;margin-top:.5rem;margin-bottom:1.25rem;">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a href="{{ site.baseurl }}/">&#9664; </a>
    {% else %}
      <a href="{{ site.baseurl }}/hlm{{paginator.previous_page}}">&#9664; </a>
    {% endif %}
  <!--else
    <span>&#9664; </span>-->
  {% endif %}
  &#8194;Halaman {{paginator.page}} dari {{paginator.total_pages}}&#8194;
  {% if paginator.next_page %}
    <a href="{{ site.baseurl }}/hlm{{paginator.next_page}}"> &#9654;</a>
  <!--else
    <span> &#9654;</span>-->
  {% endif %}
</div>
