---
layout: default
title: Beranda
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date"><img class="icon-dateau" src="{{ site.baseurl }}/images/date.svg" alt="Tanggal"></img>{{ post.date | date_to_string }}
    
    {% if post.last_modified_at %}
      <img class="icon-datemod" src="{{ site.baseurl }}/images/update.svg" alt="Diperbarui"></img>{{ post.last_modified_at | date_to_string }}
    {% endif %}

    {% if post.author %}
      <br/><img class="icon-dateau" src="{{ site.baseurl }}/images/acc.svg" alt="Avatar"></img>{{ post.author }}
    {% endif %}

    </span>

    {% if post.description %}
        {{ post.description }}
    {% else %}
        {{ post.content | strip_html | truncatewords: 25 }}
    {% endif %}

  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/hlm{{paginator.next_page}}">Lebih Lama</a>
  {% else %}
    <span class="pagination-item older">Lebih Lama</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Lebih Baru</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/hlm{{paginator.previous_page}}">Lebih Baru</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Lebih Baru</span>
  {% endif %}
</div>

