@font-face {
  font-family: 'Public Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/PublicSans/PublicSans-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Public Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/PublicSans/PublicSans-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/PublicSans/PublicSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/PublicSans/PublicSans-Bold.ttf') format('truetype');
}
