:root {
  --pr: #bfafa1; /* Kasumi */
  --pr2: #a08873; /* Kasumi */
  --pro: var(--kasumi10);
  --pr-isi: #262320; /* Kasumi */
  --pro-isi: #c9bcb0; /* Kasumi */
  --lb: #22211e; /* Mia */
  --lb2: #181715; /* Mia */
  --lbo: var(--emma90);
  --garis: #44423c;
  --sk: var(--kasumi80);
  --sko: var(--kasumi10);
  --sk-isi: var(--kasumi30);
  --sko-isi: var(--kasumi90);
  --tr: #81c6ef; /* Shizuku */
  --tro: #19272f; /* Shizuku */
    /* Parameter di bawah diambil dari https://codepen.io/sosuke/pen/Pjoqqp */
  --tr-svg: invert(71%) sepia(59%) saturate(449%) hue-rotate(173deg) brightness(98%) contrast(91%);
  --tr-isi: var(--ayumu30);
  --tro-isi: var(--ayumu90);
  --galat: var(--setsuna80);
  --galat-isi: var(--setsuna10);
  --galato: var(--setsuna30);
  --galato-isi: var(--setsuna90);
}
