:root {
  --pr: #f9d6da; /* Isi */
  --pr2: #f0939e; /* Ayumu */
  --pro: #ffffff;
  --pr-isi: #262320; /* Kasumi */
  --pro-isi: #fce9eb; /* Judul */
  --lb: #090909;
  --lb2: #030303;
  --lbo: #35a854;
  --garis: #301d1f;
  --sk: #fbf7b1; /* Kasumi */
  --tr: #5dcc7b;
    /* Parameter di bawah diambil dari https://codepen.io/sosuke/pen/Pjoqqp */
  --tr-svg: invert(70%) sepia(15%) saturate(1315%) hue-rotate(84deg) brightness(96%) contrast(93%);
  --galat: var(--setsuna80);
  --galat-isi: var(--setsuna10);
}
