:root {
  --pr: #262320;
  --pr2: #393430;
  --pro: var(--emma90);
  --pr-isi: #c9bcb0;
  --pro-isi: #131110;
  --lb: #cdcbc2;
  --lb2: #d4d3cb;
  --lbo: var(--emma10);
  --garis: #aaa798;
  --sk: #d25601; /* Ai */
  --sko: var(--kasumi90);
  --sk-isi: var(--kasumi70);
  --sko-isi: var(--kasumi10);
  --tr: #034099; /* Karin */
  --tro: #ccd8ea; /* Shizuku */
    /* Parameter di bawah diambil dari https://codepen.io/sosuke/pen/Pjoqqp */
  --tr-svg: invert(15%) sepia(49%) saturate(5211%) hue-rotate(210deg) brightness(92%) contrast(98%);
  --tr-isi: var(--ayumu70);
  --tro-isi: var(--ayumu10);
  --galat: var(--setsuna20);
  --galat-isi: var(--setsuna90);
  --galato: var(--setsuna70);
  --galato-isi: var(--setsuna10);
}
