<meta name="twitter:card" content="summary"/>
<meta property="og:title" content="{{ page.title }}"/>

{% if page.summary %}
<meta name="twitter:description" content="{{ page.summary }}"/>
<meta property="og:description" content="{{ page.summary }}"/>
{% endif %}

{% if page.image %}
<meta name="twitter:image" content="{{ page.image }}"/>
<meta property="og:image" content="{{ page.image }}"/>
{% else %}
<meta name="twitter:image" content="{{ site.baseurl }}/images/qd.png"/>
<meta property="og:image" content="{{ site.baseurl }}/images/qd.png"/>
{% endif %}

