---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title | markdownify }}</h1>
<!--
  <span class="post-date"><img class="icon-dateau" src="{{ site.baseurl }}/images/date.svg" alt="Tanggal"></img>{{ page.date | date_to_string }}

    {% if page.last_modified_at %}
      <img class="icon-datemod" src="{{ site.baseurl }}/images/update.svg" alt="Diperbarui"></img>{{ page.last_modified_at | date_to_string }}
    {% endif %}

    {% if page.author %}
      <br/><img class="icon-dateau" src="{{ site.baseurl }}/images/acc.svg" alt="Avatar"></img>{{ page.author }}
    {% endif %}

  </span>
-->

  {% if page.image %}
    <div style="position:relative;">    
      <img id="cover" src="{{ page.image }}"></img>
      {% if page.imgcap %}
        <div id="caption">{{ page.imgcap | markdownify | remove: '<p>' | remove: '</p>' }}</div>
      {% endif %}
    </div>
  {% else %}
    <hr/>
  {% endif %}
  {{ content }}
</div>

{% if page.author == "Qauland" %}
    <img id="sitelogo" src="/images/qauland-plain.png" style="float:left;" alt="Logo Qauland"></img>
{% endif %}

<span class="post-date" style="margin-top:-.2rem;font-size:75%;font-weight:500;line-height:1.15;">
    {{ page.date | date: "%d%m" }}</br>{{ page.date | date: "%Y" | roman }}</br>
</span>

<!--
<div style="margin-top:.25rem;margin-bottom:1rem;font-size:87%;color:#7a7a7a;">
Ada komentar/masalah terkait pos di atas? Silakan <a href="https://github.com/kyunode/kyunode.github.io/issues">buat <i>issue</i></a> di repositori situs ini di GitHub, atau <a href="https://social.vivaldi.net/@kyunode">hubungi pemilik situs ini</a> di Mastodon.
</div>
-->
