---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date"><img class="icon-dateau" src="{{ site.baseurl }}/images/date.svg" alt="Tanggal"></img>{{ page.date | date_to_string }}

    {% if page.last_modified_at %}
      <img class="icon-datemod" src="{{ site.baseurl }}/images/update.svg" alt="Diperbarui"></img>{{ page.last_modified_at | date_to_string }}
    {% endif %}

    {% if page.author %}
      <br/><img class="icon-dateau" src="{{ site.baseurl }}/images/acc.svg" alt="Avatar"></img>{{ page.author }}
    {% endif %}

  </span>

  {% if page.image %}
    <img src="{{ page.image }}" style="width:100%;height=auto"></img>
  {% endif %}
  {{ content }}
</div>

<div class="related">
  <h2>Artikel Lainnya</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
